@import '../tools/breakpoints.styl'

.aboutMeBlock
    display block
    float left

    border-radius 20px

    background-color #fafafa

.description
    width 540px
    height 540px
    margin-right 10px
    @media screen and (max-width: $medium-desktop)
        width 432px
        height 432px

.picture
    width 160px
    height 160px
    margin-left 10px
    margin-bottom 10px
    position relative
    @media screen and (max-width: $medium-desktop)
        width 124px
        height 124px


.skills 
    width 360px
    height 360px
    margin-left 10px
    margin-top 10px
    @media screen and (max-width: $medium-desktop)
        width 288px
        height 288px