.container
  width 600px
  height 600px
  
  margin: 0 auto

  position: absolute

  perspective: 800px

.cubeSlider
  top 50%
  left 50%

  position absolute

  transform-style preserve-3d

  transform: rotateY(45deg);
  transition: ease 5s;

.cubeSlider:hover
  transform rotateX(980deg)
