.container
  width 890px
  height 520px
  margin: 0 auto
  position: absolute
  
  top 50%
  left 50%

  perspective: 800px
  transform translateX(-50%) translateY(-50%)

.cubeSlider
  // top 50%
  // left 50%
  // position absolute
  float left

  transform-style preserve-3d


.cubeSlider_1
  width 520px
  height 520px
  margin-right 10px
  
.cubeSlider_2
  width 350px
  height 350px
  margin-left 10px
  margin-bottom 10px

.cubeSlider_3
  width 150px
  height 150px
  margin-left 10px
  margin-top 10px
