body {
  margin: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  font-family: signikaRegular;
}
h1 {
  margin: 20px 30px 10px 30px;
  font-family: signikaBold;
  font-size: 34px;
}
h2 {
  margin: 0px 30px 5px 30px;
  font-family: signikaBold;
  font-size: 18px;
  color: #4a90e2;
}
h3 {
  position: absolute;
  margin: 15px 20px;
  font-family: signikaBold;
  font-size: 22px;
  color: #4a90e2;
  cursor: pointer;
}
ul {
  margin: 50vh 20px;
  padding: 0;
  position: absolute;
  transform: translateY(-50%);
}
li {
  margin-bottom: 10px;
  font-family: signikaBold;
  font-size: 22px;
  list-style: none;
  cursor: pointer;
  user-select: none;
}
p {
  margin: 0px 30px 15px 30px;
  font-size: 16px;
}
a {
  color: #4a90e2;
  text-decoration: none;
}
::selection {
  background-color: #fa709a;
  color: #000;
}
