// Target
.discoverProject:target .presentationBlock
    transform translateX(-50%) translateY(-0%) scale(1)

// Pages elements
.presentationBlock__title
    width 200px
    margin 0 auto
    margin-top 200px
    margin-bottom 260px

.presentationBlock__title__logo
    width 200px
.presentationBlock__title__h1
    font-size 3.1rem
    margin 0

.presentationBlock__title__h2
    font-family signikaRegular
    margin 0
    margin-top 50px
    color #111111

.presentationBlock__title__h3
    position initial
    margin-top 80px
    margin-left 0px

    font-size 30px

.presentationBlock__title__p
    text-align center

.presentationBlock__element
    margin-left 70px
    margin-right 70px

.presentationBlock__preview--isometric
    margin 0 auto

    transform rotateX(60deg) rotateY(0deg) rotateZ(-45deg)

.presentationBlock__preview__img
    box-shadow -10px 24px 38px 3px rgba(0, 0, 0, 0.14), -10px 9px 46px 8px rgba(0, 0, 0, 0.12), -10px 11px 15px 0px rgba(0, 0, 0, 0.20)

// Original site
.presentationBlock__originalSite__preview
    width 500px

.presentationBlock__originalSite__preview__img
    width 300px

.presentationBlock__originalSite__preview__img:nth-child(1)
    margin-right 20px

.presentationBlock__originalSite__preview__img:nth-child(2)
    position absolute

// Goals
.presentationBlock__goalsNumber
    display inline-block

    background linear-gradient(180deg, #ff9e16 10%, #ff1c60 80%)

    font-family signikaBold
    font-size 140px
    color rgba(0, 0, 0, 0)

    text-shadow: 1px 1px 1px rgba(255,255,255,0.4)
    -webkit-background-clip text

.presentationBlock__goals__p
    width 150px
    margin-top 0px
    margin-left 0px
    margin-right 20px
    display inline-block

    transform translateY(-40px)

// wireframes
.presentationBlock__wireframes__preview
    width 580px

.presentationBlock__wireframes__preview__img
    width 300px

.presentationBlock__wireframes__preview__img:nth-child(1)
    margin-right 20px

.presentationBlock__wireframes__preview__img:nth-child(2)
    position absolute