.navigationMenu__item
    color #d0d0d0

.navigationMenu__bulleted
    width 25px
    height 4px
    display inline-block
    margin-left 10px
    border-radius 3px

    background-color #d0d0d0

    transform translateY(-100%)