@import '../tools/breakpoints.styl'

/*** Cube faces propertys ***/
.cubeSlider__item
    height 100%
    width 100%

    position absolute

    border-radius 20px

    background-color #fafafa
    opacity 0

    // box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 4px 0px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.20)

    transition: transform  300ms ease, opacity 300ms ease


    // &:hover
    //     box-shadow 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 3px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.20)

.cubeSlider_1__item
    overflow hidden
    display flex
    justify-content center

.cubeSlider_1__item__preview_sketch
    width 100%
    height auto

.cubeSlider_1__item__preview
    width auto
    height 100%


.cubeSlider_2__item__discover
    font-size 14px
    margin-top 0px
    bottom 20px
    right 30px

    position absolute

    user-select none

    @media screen and (max-width: $medium-desktop)
        font-size 11px
    @media screen and (max-width: $medium-desktop)
        margin-top 0px
    @media screen and (max-width: $large-phone)
        width 150px
        padding 15px 40px 15px 40px
        margin 0 auto
        margin-top 30px
        display block
        float none

        border-radius 25px
        color #ffffff

        font-size 1rem
        text-align center

        background #4A90E2

        transition background 150ms ease, transform 150ms
        // &:hover
        //     background #F9838E
        // &:active
        //     transform scale(0.9)

.cubeSlider_3__item
    display flex
    text-align center

.cubeSlider_3__item__button
    margin auto

    user-select none

.cubeSlider_3__item__button__slash
    display inline-block
    margin 0

.cubeSlider_3__item__button__next
.cubeSlider_3__item__button__prev
    @media screen and (max-width: $large-phone)
        font-size 1.4rem
