/*** Cube faces propertys ***/
.cubeSlider__item
    position absolute

    border-radius 20px

    background-color #fafafa

    box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 4px 0px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.20)

    transition: transform  300ms ease, opacity 300ms ease, box-shadow 150ms ease

    &:hover
        box-shadow 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 3px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.20)



.cubeSlider__item__description
    // padding 30px 30px 30px 30px




.cubeSlider_3__item
    display flex
    text-align center

    .cubeSlider_3__item__button
        margin auto

        .cubeSlider_3__item__button__slash
            display inline-block
            margin 0
        