.aboutMeBlock {
  display: block;
  float: left;
  border-radius: 20px;
  background-color: #fafafa;
}
.description {
  width: 540px;
  height: 540px;
  margin-right: 10px;
}
@media screen and (max-width: 1200px) {
  .description {
    width: 432px;
    height: 432px;
  }
}
@media screen and (max-width: 1023px) {
  .description {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .description {
    width: 300px;
    height: 530px;
  }
}
.picture {
  width: 160px;
  height: 160px;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .picture {
    width: 124px;
    height: 124px;
  }
}
@media screen and (max-width: 1023px) {
  .picture {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 10px;
  }
}
.skills {
  width: 360px;
  height: 360px;
  margin-left: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .skills {
    width: 288px;
    height: 288px;
  }
}
@media screen and (max-width: 480px) {
  .skills {
    width: 300px;
    margin-left: 0px;
  }
}
