.container {
  width: 530px;
  height: 550px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  perspective: 800px;
  transform: translateX(-50%) translateY(-50%);
}
.cubeSlider {
  position: absolute;
  transform-style: preserve-3d;
}
.cubeSlider_1 {
  top: 380px;
  left: 150px;
}
.cubeSlider_2 {
  top: 338px;
  left: 420px;
}
.cubeSlider_3 {
  top: 520px;
  left: 363px;
}
.cubeSlider_4 {
  top: 110px;
  left: 192px;
}
