.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  perspective: 800px;
}
.cubeSlider {
  position: absolute;
  transform-style: preserve-3d;
}
.cubeSlider_1 {
  top: 460px;
  left: 500px;
}
.cubeSlider_2 {
  top: 400px;
  left: 760px;
}
