.wrap {
  perspective: 800px;
  left: 50%;
  top: 50%;
  position: absolute;
}
.slides {
  width: 0px;
  height: 0px;
  position: relative;
  background-color: #f00;
  transform-style: preserve-3d;
  transition: transform 2s ease;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
