.container {
  width: 920px;
  height: 540px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 8;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 740px;
    height: 432px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 432px;
    height: 740px;
  }
}
.perspective {
  perspective: 800px;
}
.cubeSlider {
  float: left;
  transform-style: preserve-3d;
}
.cubeSlider_1 {
  width: 540px;
  height: 540px;
  margin-right: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_1 {
    width: 432px;
    height: 432px;
  }
}
.cubeSlider_2 {
  width: 360px;
  height: 360px;
  margin-left: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_2 {
    width: 288px;
    height: 288px;
  }
}
@media screen and (max-width: 1023px) {
  .cubeSlider_2 {
    margin-left: 0px;
  }
}
.cubeSlider_3 {
  width: 160px;
  height: 160px;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_3 {
    width: 124px;
    height: 124px;
  }
}
@media screen and (max-width: 1023px) {
  .cubeSlider_3 {
    margin-left: 20px;
  }
}
