.container {
  width: 920px;
  height: 540px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 8;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 740px;
    height: 432px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: 432px;
    height: 740px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    position: initial;
    transform: translateX(0%) translateY(0%);
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 300px;
    height: 550px;
  }
}
.perspective {
  perspective: 800px;
}
.cubeSlider {
  float: left;
  transform-style: preserve-3d;
}
.cubeSlider_1 {
  width: 540px;
  height: 540px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  transition: transform 150ms ease;
  cursor: pointer;
}
.cubeSlider_1:hover {
  transform: scale(1.025);
}
.cubeSlider_1:active {
  transform: scale(0.975);
}
@media screen and (max-width: 1200px) {
  .cubeSlider_1 {
    width: 432px;
    height: 432px;
  }
}
@media screen and (max-width: 480px) {
  .cubeSlider_1 {
    display: none;
  }
}
.cubeSlider_2 {
  width: 360px;
  height: 360px;
  margin-left: 10px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_2 {
    width: 288px;
    height: 288px;
  }
}
@media screen and (max-width: 1023px) {
  .cubeSlider_2 {
    margin-left: 0px;
  }
}
@media screen and (max-width: 480px) {
  .cubeSlider_2 {
    width: 300px;
    height: 400px;
  }
}
.cubeSlider_3 {
  width: 160px;
  height: 160px;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_3 {
    width: 124px;
    height: 124px;
  }
}
@media screen and (max-width: 1023px) {
  .cubeSlider_3 {
    margin-left: 20px;
  }
}
@media screen and (max-width: 480px) {
  .cubeSlider_3 {
    width: 300px;
    height: 50px;
    margin-left: 0px;
    margin-bottom: 100px;
    float: right;
  }
}
