.navigationMenu__item--active
    color #4A90E2
    transition 150ms ease

.navigationMenu__bulleted--active
    width 25px
    height 4px
    display inline-block
    margin-left 10px
    border-radius 3px

    background: linear-gradient(to left, #FDBC5D 20%, #FA709A 125%)

    transform translateY(-100%)