.slide--bottom .slider__element
    transform translateX(-50%) translateY(50%)

.slide--top .slider__element
    transform translateX(-50%) translateY(-125vh)

/** delay of transition **/
.apparition-delay-1{
    transition-delay: 0.25s;
}

.apparition-delay-2{
    transition-delay: 0.50s;
}

.apparition-delay-3{
    transition-delay: 0.70s;
}

.apparition-delay-4{
    transition-delay: 0.85s;
}

.apparition-delay-5{
    transition-delay: 1s;
}

.apparition-delay-6{
    transition-delay: 1.10s;
}