/*** Cube faces propertys ***/
.cubeSlider__item {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: #fafafa;
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}
.cubeSlider_1__item {
  overflow: hidden;
}
.cubeSlider_1__item__preview {
  width: 100%;
}
.cubeSlider_2__item__discover {
  float: right;
  margin-right: 30px;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_2__item__discover {
    font-size: 11px;
  }
}
@media screen and (max-width: 1200px) {
  .cubeSlider_2__item__discover {
    margin-top: 0px;
  }
}
@media screen and (max-width: 480px) {
  .cubeSlider_2__item__discover {
    width: 150px;
    padding: 15px 40px 15px 40px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    float: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    background: #4a90e2;
    transition: background 150ms ease, transform 150ms;
  }
  .cubeSlider_2__item__discover:hover {
    background: #f9838e;
  }
  .cubeSlider_2__item__discover:active {
    transform: scale(0.9);
  }
}
.cubeSlider_3__item {
  display: flex;
  text-align: center;
}
.cubeSlider_3__item .cubeSlider_3__item__button {
  margin: auto;
}
.cubeSlider_3__item .cubeSlider_3__item__button .cubeSlider_3__item__button__slash {
  display: inline-block;
  margin: 0;
}
