/*** Cube faces propertys ***/
.cubeSlider__item {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: #fafafa;
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
}
.cubeSlider_1__item {
  overflow: hidden;
}
.cubeSlider_1__item__preview {
  width: 100%;
}
.cubeSlider_2__item__discover {
  float: right;
  margin-right: 30px;
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .cubeSlider_2__item__discover {
    font-size: 11px;
  }
}
.cubeSlider_3__item {
  display: flex;
  text-align: center;
}
.cubeSlider_3__item .cubeSlider_3__item__button {
  margin: auto;
}
.cubeSlider_3__item .cubeSlider_3__item__button .cubeSlider_3__item__button__slash {
  display: inline-block;
  margin: 0;
}
